html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
	figcaption {
		font-family:var(--font-serif);
		text-align: center;
	}
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@mixin bouton {
	border: 1px solid;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-eight:700;
	line-height: 1.1;
	margin: 0 0 .5rem 0;
	padding: var(--padding-lien);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: var(--transition);
	vertical-align: middle;
}

a.wp-block-button__link {
	@include bouton;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.wp-block-button__link:not(.has-background) {
	@include bouton;

	background: var(--rouge);
	border-color: var(--rouge);
	color: var(--blanc);
	

	&:hover, &:focus, &:active {
		background: var(--blanc);
		color: var(--rouge);
		text-decoration: none;
	}
}



input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--bleu);
	border: 1px solid var(--gris-decor);
	border-radius: 0;
	padding: 3px;
	
	&:focus {
		color: var(--bleu);
	}
}


select {
	border: 1px solid var(--gris-decor);
}

textarea {
	width: 100%;
}


/*--------------------------------------------------------------
## Search form
--------------------------------------------------------------*/

.search-form {
	align-items: center;
	justify-content: flex-start;
}
.search-form .search-field {
	height: 30px;
}
.search-form .search-submit,
.search-form .search-submit:hover,
.search-form  .search-submit:focus,
.search-form  .search-submit:active {
	background-color:transparent;
	background-image:url("icons/utility/search.svg"); /*Modifier la couleur du svg selon charte thème*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
	border:none;
	color:transparent;
	margin-bottom: 0;
	margin-left:0.5rem;
	padding:0;
	width:30px;
	height:30px;
	transition:none;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

