html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul:not([class]),
ol:not([class]) {
	margin: 0 0 1.5em 0;
	
}

ul:not([class])  {
	list-style: none;
	padding:0;
		& > li {
			background-image:url('icons/fleche_simple.svg');
			background-repeat: no-repeat;
			background-position:0 3px;
			background-size: 16px 9px;
			line-height:20px;
			margin-bottom:20px;
			padding-left: 25px;
			&::before {
				display: none;
			}
		}

		ul {
			margin-top:10px;
			& >li {
				background-position:0 7px;
				margin-bottom: 10px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
	figcaption {
		font-family:var(--font-serif);
		text-align: center;
	}
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@mixin bouton {
	border: 1px solid;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight:700;
	line-height: 1.1;
	margin: 0 0 .5rem 0;
	padding: var(--padding-lien);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all var(--transition);
	vertical-align: middle;
}

a.wp-block-button__link {
	@include bouton;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.wp-block-button__link:not(.has-background) {
	@include bouton;

	background: var(--rouge);
	border-color: var(--rouge);
	color: var(--blanc);
	

	&:hover, &:focus, &:active {
		background: var(--blanc);
		color: var(--rouge);
		outline:none;
		text-decoration: none;
	}
}



input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
html .formcraft-css .fc-form.label-floating .form-element .form-element-html input[type="email"], html .formcraft-css .fc-form.label-floating .form-element .form-element-html input[type="password"], html .formcraft-css .fc-form.label-floating .form-element .form-element-html input[type="tel"], html .formcraft-css .fc-form.label-floating .form-element .form-element-html input[type="text"], html .formcraft-css .fc-form.label-floating .form-element .form-element-html select, html .formcraft-css .fc-form.label-floating .form-element .form-element-html textarea
 {
	color: var(--bleu);
	border: none;
	border-radius: 0;
	padding: 10px 2px;
	
	&:focus {
		color: var(--bleu);
	}
}


select {
	border: none;
}

textarea {
	width: 100%;
}

html .formcraft-css .fc-form {
	background-color: transparent !important;
	box-shadow: none;
	border-radius: 0;
}
html .formcraft-css .fc-form .form-element .field-cover .formcraft-icon {
	display: none;
}
html .formcraft-css .fc-form.label-floating .form-element.error-field .form-element-html .field-cover > span {
	color:var(--bleu);
}
html .formcraft-css .fc-form.label-floating .field-cover > span {
	padding-left:10px !important;
}
html .formcraft-css .fc-form .form-element.is-required-true .field-cover .main-label > span::after {
	color:var(--bleu);
}
html .formcraft-css .fc-form .form-element .error {
	color:#fff;
}
html .formcraft-css .fc-form .form-element .form-element-html > div {
	background-color: #fff;
}
html .formcraft-css .fc-form .form-element.form-element-type-submit .form-element-html > div {
	background-color: transparent;
}
.formcraft-css .fc-form .form-element .field-cover .button.submit-button {
	background-color: transparent !important;
	background-image:url('icons/fleche_simple_blanche.svg') !important;
	background-size: 15px 17px  !important;
	background-position: 16px center !important;
	background-repeat: no-repeat !important;
	color:#fff;
	border:solid 1px #fff;
	border-radius: 0;
	letter-spacing: 0.3px;
	padding-left:45px !important;
	text-transform: uppercase;
	&:hover, &:focus {
		background-color: transparent !important;
	}
}
html .formcraft-css .fc-form .final-success {
	color:#fff !important;
}
html .formcraft-css .fc-form .final-success .final-success-check {
	border-color:#fff !important;
}
html .formcraft-css .fc-form .form-element.form-element-type-checkbox .form-element-html > div {
	background-color: transparent;
	color:var(--blanc) !important;
	span.main-label > span {
		color:var(--blanc) !important;
		font-size: 22px;
		font-weight: bold;
		&::after {
			color:var(--blanc) !important;
		}
	}
}
/*--------------------------------------------------------------
## Search form
--------------------------------------------------------------*/

.search-form {
	align-items: center;
	justify-content: flex-start;
}
.search-form .search-field {
	height: 30px;
}
.search-form .search-submit,
.search-form .search-submit:hover,
.search-form  .search-submit:focus,
.search-form  .search-submit:active {
	background-color:transparent;
	background-image:url("icons/utility/search.svg"); /*Modifier la couleur du svg selon charte thème*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
	border:none;
	color:transparent;
	margin-bottom: 0;
	margin-left:0.5rem;
	padding:0;
	width:30px;
	height:30px;
	transition:none;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
//https://www.advancedcustomfields.com/resources/oembed/
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*infoWindow Google Map*/
.gm-style .gm-style-iw-c {
	border-radius:0;
	font-size: 14px;
	font-weight: 700;
	strong {
		color:var(--rouge);
	}
	p {
		margin-bottom:0;
	}
	a {
		font-weight:400;
		margin-top:8px;
	}

}