

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

// Breakpoints
@mixin bp($point) {
  
	$sm: "(min-width: 576px)";
	$md: "(min-width: 768px)";
	$lg: "(min-width: 960px)";
	$xl: "(min-width: 1680px)";
  
	@if $point == sm {
	@media #{$sm} { @content; }
	}
	@else if $point == md {
	@media #{$md} { @content; }
	}

	@else if $point == lg {
	@media #{$lg} { @content; }
	}
  
	@else if $point == xl {
	@media #{$xl} { @content; }
	}
}


body {
	overflow-x:hidden;
}
:root {
	--margin-bottom:60px;
	--padding-x:20px;
	//--header-height:80px;

	@include bp(md) {
		--margin-bottom:80px;
		--padding-x : 5%;
	}
	@include bp(lg) {
		--margin-bottom:105px;
	}
	@include bp(xl) {
		--padding-x: calc(50vw - 1515px/2);
	}
}

@mixin bleed {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
}

.alignfull , .bleed-container {
	@include bleed;
	padding-left: 0;
	padding-right: 0;
	margin-bottom:var(--margin-bottom);
}

.container {
//	max-width:1406px; //1366px largeur max contenu + 20px de padding de chaque côté
//	margin:0 auto;
	padding:0 var(--padding-x);
}

/* Hauteur mini main*/

.site {
	position: relative;
}
.site-main {
	min-height:100vh;
}


/* Grid */

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.show-for-md,
.show-for-lg {
	display: none;
}

@include bp(md) {


	.show-for-md {
		display: initial;
	}

	.hide-for-md {
		display: none;
	}
}

@include bp(lg) {


	.show-for-lg {
		display: initial;
	}

	.hide-for-lg {
		display: none;
	}
}


/* Overlay */
.site-main {
	position: relative;
}
.overlay {
	background-color:#2D2F38;
	display: none;
	opacity: 0.8;
	transition: opacity var(--transition);
	&.toggled {
		display: block;
		height: 100%;
		width: 100%;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
	}
}


/* Echelle z-index 
Elements qui ont juste besoin d'être au-dessus de leur voisin : 1
Overlay : 5
Volet questionnaire mobile : 6
Sticky header : 10
Menu mobile : 10
Sous-menu desktop : 10;

*/