/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a,
a:visited {
	color: var(--bleu);
	transition: var(--transition);
}

a:hover,
a:active,
a:focus {
	color: var(--rouge);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul > li.menu-item {
	padding: var(--padding-lien);	
}


.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation  a {
	color:var(--noir-titre);
	display: block;
	font-size: 0.875rem;
	text-decoration: none;
	text-transform:uppercase;
}

.main-navigation .menu >li:first-of-type > a {
	color:var(--bleu);

}

.main-navigation a:hover, .main-navigation a:active {
	color:var(--bleu);
}

.main-navigation .current-menu-item a,
.main-navigation .current-menu-ancestor > a {
	font-weight:700;
}

/* Small menu. */

.menu-toggle {
	background:transparent;
	border:0;
	color:var(--noir-titre);
	display: block;
	margin-left: auto;
	margin-right: 0;
	&:hover, &:focus, &:active {
		background:transparent;
	}
}
svg.times {
	display:none;
}
.main-navigation.toggled {
	svg.menu {
		display:none;
	}
	svg.times {
		display:block;
	}
	ul {
		background-color:var(--blanc);
		display: flex;
		flex-direction: column;
		position:absolute;
		left:0;
		top:var(--header-height);
		width:100vw;

		ul {
			box-shadow: unset;
			display : flex;
			flex-direction: column;
			position:relative;
			top:unset;
			z-index:unset;
			left:unset;
		}
	}


}


@include bp(md) {
	.menu-toggle {
		display: none;
	}

	.main-navigation  ul.menu {
		align-items: center;
		display: flex;
		justify-content: center;

		
	}
	.main-navigation  ul.sub-menu {
		background-color:var(--blanc);
		display: flex;
		flex-direction: column;

	}
	
	.main-navigation .menu > li > a {
		text-align: center;
		
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}