.topbar {
	background-color: var(--bleu);
	padding: 2px var(--padding-x) 4px;
	text-align: center;
	&, a {
		color:var(--blanc);
	}
	p {
		margin-bottom:0;
	}
	&:hover, &:focus-within {
		background-color:var(--rouge);
	}
}
.site-header {
	align-items: center;
	background-color: var(--blanc);
	display: flex;
	justify-content: space-between;
	padding: 0 var(--padding-x);


	&.sticky {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		padding-left:2rem;
		padding-right:2rem;
		position:fixed;
		left: 0;
		top: 0;
		width:100%;
		z-index:10;
	}
}

.custom-logo {
	display: block;
	margin:20px 0;
	max-width: 220px;
}

@include bp(md) {
	.admin-bar .site-header.sticky {
		top:32px;
	}
	.custom-logo {
		margin:0;
		max-width: 290px;
	}
}