.site-header.landing {
	background-color: transparent;
	position:fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index:10;
}

.landing .site-branding {
	max-width: 50%;
	padding-right:10px;
	@include bp(sm) {
		max-width:200px;
	}
}

.landing-footer {
	align-items:center;
	background-color:#2D2F38;
	color:#F0EEE7;
	display: flex;
	flex-direction: column;
	justify-content:center;
	padding:0.5rem var(--padding-x);
	text-align: center;


	ul {
		list-style: none;
		margin:0;
		padding:0;
	}

	a {
		color:#F0EEE7;
		font-size : 1.125rem;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	.liens-techniques {
		display: flex;
		margin-bottom:0.5rem;
		li:not(:first-child) {
			margin-left:10px;
			&:before {
				content:'|';
				margin-right:10px;
			}
		}
		a {
			font-size:0.875rem;
		}
	}

	@include bp(md) {
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-between;
		.liens-techniques {
			margin-bottom:0;
		}
		.copyright {
			font-size:0.875rem;
		}

	}

}


.wp-block-cover.landing-banniere {
	margin-bottom: 0;
	padding:6rem var(--padding-x) 0;
	img {
		clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0 100%);
		filter: brightness(0.4);
	}
	h1 {
		padding:0;
		text-align: left;
	}
	hr.wp-block-separator {
		margin: 2.5rem 0 0.5rem;
		opacity: 0.8;
		width: 100px;
		border: none;
		height: 2px;
	}

	.wp-block-buttons {
		margin-top:3rem;
		> .wp-block-button {
			margin-bottom: 0;
			a.wp-block-button__link:not(.has-background) {
				padding:15px;
				margin-bottom: 0;
			}
		}
	}

	@include bp(lg) {
		--padding-x: calc(50vw - 450px);
	}
}
.wp-block-gallery.landing-galerie {
	justify-content: center;
	.blocks-gallery-grid {
		max-width:1000px;
	}
}