.site-header.landing {
	background-color: transparent;
	position:fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index:10;
	&.sticky {
		min-height:unset;
	}
	a.button:visited {
		color:#fff;
	}
}

.landing .site-branding {
	max-width: 50%;
	padding-right:10px;
	@include bp(sm) {
		max-width:200px;
	}
	@include bp(md) {
		max-width:250px;
	}
}

.landing-footer {
	align-items:center;
	background-color:#2D2F38;
	color:#F0EEE7;
	display: flex;
	flex-direction: column;
	justify-content:center;
	padding:0.5rem var(--padding-x);
	text-align: center;


	ul {
		list-style: none;
		margin:0;
		padding:0;
	}

	a {
		color:#F0EEE7;
		font-size : 1.125rem;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	.liens-techniques {
		display: flex;
		margin-bottom:0.5rem;
		li:not(:first-child) {
			margin-left:10px;
			&:before {
				content:'|';
				margin-right:10px;
			}
		}
		a {
			font-size:0.875rem;
		}
	}

	@include bp(md) {
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-between;
		.liens-techniques {
			margin-bottom:0;
		}
		.copyright {
			font-size:0.875rem;
		}

	}

}

.page-template-landing {
	h2 {
		margin-bottom: 0.4em;
	}
	@media screen and (max-width:500px) {
		font-size:1.12rem;
		h1 {
			font-size: 2rem;
		}
	}
}

.wp-block-cover.landing-banniere {
	margin-bottom: 0;
	padding:6rem var(--padding-x) 0;
	img {
		clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0 100%);
		filter: brightness(0.4);
	}
	h1 {
		padding:0;
		text-align: left;
	}
	hr.wp-block-separator {
		margin: 2.5rem 0 0.5rem;
		opacity: 0.8;
		width: 100px;
		border: none;
		height: 2px;
	}

	.wp-block-buttons {
		margin-top:3rem;
		> .wp-block-button {
			margin-bottom: 0;
			a.wp-block-button__link:not(.has-background) {
				padding:15px;
				margin-bottom: 0;
			}
		}
	}

	@include bp(lg) {
		--padding-x: calc(50vw - 450px);
	}
}
.wp-block-gallery.landing-galerie {
	justify-content: center;
	.blocks-gallery-grid {
		max-width:1000px;
	}
	@media screen and (min-width:450px) and (max-width:599px) {
		.blocks-gallery-grid {
			flex-wrap: nowrap;
		}
	}
	@media screen and (max-width:449px) {
		.blocks-gallery-grid {
			justify-content: center;
		}
		.blocks-gallery-item {
			margin:-5px;
			flex-grow:0;
			flex-basis: 35%;
		}
	}
}


.wp-block-columns.landing-colonnes {
	h2 {
		margin-bottom: 0;
	}
	hr.wp-block-separator {
		margin: 2rem 0;
		width: 100px;
		height: 2px;
	}
}

.wp-block-columns.landing-temoignages {
	.wp-block-column {
		box-shadow: 0 0 40px var(--gris-decor);
		padding: 20px 30px;
	}
	p {
		margin-bottom: 0;
	}
	@include bp(md) {
		align-items: flex-start;
		justify-content: space-between;
		.wp-block-column {
			flex-basis : 370px;
			flex-grow:0;
			flex-shrink:1;
		}
	}
}

.landing-video {
	.texte {
		align-items: center;
		display: flex;
		justify-content: center;
		padding:50px;
		.wp-block-group__inner-container p {
			max-width:600px;
		}
	}
	@include bp(lg) {
		padding-top:15%;
		padding-left:200px;
		position: relative;
		.video {
			left:0;
			position:absolute;
			top:0;
			width:60%;
			z-index:1;
		}
		.texte {
			padding-top:25%;
			position: relative;
		}

	}
}

html .landing-formulaire {
	.formcraft-css .fc-form .form-element .field-cover .button.submit-button {
		background-color: var(--rouge) !important;
		border:none;
		margin-top: 2rem;
		&:hover, &:focus {
			background-color: var(--rouge-clair) !important;
		}
	}
	a.powered-by {
		display: none;
	}
	.formcraft-css .fc-form .final-success {
		color: var(--rouge) !important;
		.final-success-check {
			border-color:var(--rouge) !important;
		}
	}
}