/*Styles communs aux pages single et archive*/
.fil-ariane {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 40px;
	a {
		text-decoration: none;
	}
	.eclair {
		background-image: url('icons/Eclair-menu.svg');
		display: inline-block;
		height:19px;
		margin:0 5px;
		width:5px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
		position: relative;
		top: 3px;
	}
}
.single-post, .archive, .blog {
	.site-main {
		padding:0 20px;
	}
	h1.entry-title {
		color:var(--bleu);
		font-family: var(--font-serif);
		font-size: 26px;
		font-weight: 600;
		line-height: 36px;
		margin-bottom: 15px;
		padding:0;
		text-align: left;
	}

	.date {
		span {
			background-color: var(--gris-fond);
			color:var(--blanc);
			font-weight: 700;
			padding:0 3px;
		}
		strong {
			color:var(--rouge);
		}
	}
	.entry-meta {
		margin-bottom: 20px;		
	}


	.sidebar {
		background-color:var(--bleu);
		color:var(--blanc);
		margin-bottom: 40px;
		margin-top: 40px;
		padding:27px;
	}

	@include bp(md) {
		.site-main {
			align-items: flex-start;
			display: flex;
			flex-wrap:wrap;
			justify-content: flex-between;
		}
		.fil-ariane {
			flex-basis:100%;
		}
		.primary {
			flex-basis: calc(100% - 373px);
		}
		.sidebar {
			flex-basis:353px;
			flex-grow:0;
			flex-shrink:0;
			margin-left: 20px;
			margin-top: 0;
		}
		h1.entry-title {
			font-size: 36px;
			line-height: 46px;
		}
		.entry-meta {
			display: flex;
			justify-content: space-between;	
			margin-bottom: 40px;
		}
	}
	@include bp(lg) {
		.site-main {
			padding:0 var(--padding-x);
		}
		.sidebar {
			flex-basis:413px;
			margin-left:40px;
		}
		.primary {
			flex-basis: calc(100% - 453px);
		}
	}
	@include bp(xl) {
		.sidebar {
			margin-left:100px;
		}
		.primary {
			flex-basis: calc(100% - 513px);
		}
	}
}

/************Icones de partage avec plugin Monarch***************/
.et_monarch .et_social_top {
	display:flex;
	justify-content: flex-end;
	ul.et_social_icons_container {
		position: relative;
		width:175px;
		@include bp(md) {
			&::before {
				content : 'Partager l\'article';
				color:var(--rouge);
				font-size: 16px;
				font-weight: 700;
				position: absolute;
				left: -200px;
				top: 14px;
			}
			&::after {
				background-color: var(--rouge);
				border-radius:1px;
				content:'';
				display: inline-block;
				height:2px;
				left:-45px;
				position: absolute;
				top:21px;
				width:20px;
			}
		}
		
		> li {
			i.et_social_icon {
				background-color:transparent;
			}
			&:hover {
				i.et_social_icon {
					background-color:transparent;
				}
			}
			a {
				padding:0;
			}
		}
	}
}
.site > .et_social_inline  {
	display:none; //masquer les apparitions superflues
}

/************Widgets de la barre latérale***************/
.sidebar {
	a {
		color:var(--blanc);
		line-height: 24px;
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: underline;
		}
	}
	h2.titre-widget {
		background-color: var(--rouge);
		color:var(--blanc);
		display: inline-block;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 27px;
		padding:5px 5px 0;
	}
	.widget {
		margin-bottom: 34px;
	}
	.widget_search {
		.search-form {
			border:solid 2px var(--blanc);

		}
		label {
			flex-grow:1;
		}
		.search-field {
			background-color: transparent;
			border:none;
			color:var(--blanc);
			height:45px;
			line-height: 45px;
			padding-left: 17px;
			width:100%;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				opacity: 1;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				opacity: 1;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				opacity: 1;
			}
			&:-moz-placeholder { /* Firefox 18- */
				opacity: 1;
			}
		}
		.search-submit {
			background-image: url('icons/utility/search-blanc.svg');
			background-position: center left;
			background-size: 23px;
			width:40px;
		}
	}
	.widget_categories, .popular-posts {
		ul.wpp-list {
			list-style: none;
			margin:0;
			padding:0;
		}
		li {
			background-image: none;
			margin: 0;
			padding:0;
			a {
				border-bottom: dashed 1px var(--gris-fond);
				display: block;
				margin-bottom: 10px;
				padding-bottom:10px;
			}
		}
		ul.children {
			list-style: none;
			margin:0;
			padding:0;
			li a {
				padding-left:10px;
				&::before {
					content:'-';
					display: inline-block;
					margin-right:5px;
					position:relative;
				}
			}
		}
	}
	
	
}

/************Styles single post***************/
.single-post .primary {
	h2, h3, h4 {
		color:var(--rouge);
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
}

/************Bloc TOC***************/
.entry-content .gutentoc {
	background-color: transparent;
	border:none;
	.gutentoc-toc-title-wrap {
		text-align-last: left;
	}
	.gutentoc-toc-title {
		background-color: var(--rouge);
		color:var(--blanc);
		margin-left: 20px;
		padding:0 3px;
	}
	a {
		text-decoration: none;
	}
	#toclist .gutentoc-toc__list-wrap > ul{
		& > li {
		
			> a {
				font-weight:700;
			}

			&:not(:first-of-type) {
				border-top:dashed 1px #ffffff;
				margin-top: 20px;
				padding-top:20px;
			}
		}
		border-bottom:dashed 1px #ffffff;
		margin-top: 20px;
		padding-bottom:20px;
	}
}

/************Vignettes articles dans la boucle***************/
.entry-content {
	&.loop {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		article {
			flex-basis:330px;
			flex-grow:0;
			margin-bottom:40px;
		}

		.posts-navigation {
			flex-basis:100%;
		}
		
		.post-categories {
			background-image: url('icons/Eclair-menu.svg');
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 6px;
			display: flex;
			list-style: none;
			margin-left: 0;
			margin-top: 0;
			padding-left: 15px;
			a {
				color:var(--rouge);
				font-size: 14px;
				line-height: 19px;
				font-weight: 600;
				text-decoration: none;
			}
		}
		.image {
			display: block;
			margin-bottom:55px;
			margin-right:55px;
			position: relative;
			width:100%;

			.image-wrapper {
				display: flex;
				max-width:100%;
				position: relative;
				height:270px;
				left:25px;
				top:25px;
				width:100%;
				&::before {
					background-color:var(--gris-fond);
					content:'';
					height:100%;
					left:-25px;
					position: absolute;
					top:-25px;
					width:100%;
				}
				img {
					object-fit: cover;
					width: 100%;
					position: relative;
				}
			}
		
		
		}
		.date {
			background-color: var(--gris-fond);
			color:var(--blanc);
			display: inline-block;
			line-height: 28px;
			margin-bottom: 18px;
			padding:0 5px;
		}
		h2.item-title {
			font-size: 18px;
			line-height: 24px;
			margin-bottom:10px;
			a {
				text-decoration: none;
			}
		}
		.extrait {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 20px;
		}

		@include bp(md) {
			article {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
			}
			
			a.fleche {
				align-self: flex-end;
				margin-top:auto;
			}

		}
		@include bp(lg) {
			justify-content: space-between;
			article {
				margin-bottom: 80px;
			}
			article.has-post-thumbnail:first-of-type {
				flex-basis :100%;
				padding-left:calc(50% + 20px);
				position: relative;
				.image {
					left:0;
					top:0;
					position: absolute;
					width:calc(50% - 50px);
				}
				h2.item-title {
					font-family: var(--font-serif);
					font-size: 24px;
					line-height: 32px;
				}
				.extrait {
					font-size: 16px;
				}
			}
		}
	}

	//Si aucun article trouvé
	.search-form {
		margin: 2rem auto;
	}

}
