.acf-block-coupon {
	margin-bottom:40px;
	h2 {
		background-color: var(--bleu);
		color:var(--blanc);
		font-size: 26px;
		line-height: 30px;
		margin: 0;
		padding:20px 35px;
		text-align: center;
		span {
			font-size: 20px;
			font-weight: normal;
		}
	}
	.formulaire {
		background-color: var(--rouge);
	}
	.image {
		height:auto;
		display: flex;
		img {
			object-fit: cover;
			width:100%;
		}
		
	}
	
	@include bp(lg) {
		display: flex;
		justify-content: center;

		.image, .texte {
			flex-basis:50%;
		}
		.texte {
			display: flex;
			flex-direction: column;
		}
		.formulaire {
			flex-grow:1;
		}
		
	}

	.formcraft-css .fc-form.align-left {
		margin-left:auto;
	}
	.formcraft-css .fc-form .form-page-content .form-element-type-customText {
		display: block;
		margin-bottom: 30px;
	}
	.formcraft-css .fc-form .form-element .field-cover.customText-cover p {
		color:var(--blanc) !important;
		font-size: 14px;
		line-height: 24px;
	}
	.formcraft-css .fc-form .form-element.form-element-type-checkbox .form-element-html > div {
		background-color: transparent;
		color:var(--blanc) !important;
		span.main-label > span {
			color:var(--blanc) !important;
			font-size: 22px;
			font-weight: bold;
			&::after {
				color:var(--blanc) !important;
			}
		}
	}


	.formcraft-css .fc-form.fc-form-2 .form-element .field-cover input[type="radio"] {
		background-color: transparent !important;
		border-color: #fff !important;
	}

}