.acf-block-suivi-coaching {
    background-image:url('icons/Motif-Particules-Mobile.svg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y:bottom;
    .zone {
        align-items: center;
        display: flex;
        flex-direction:column;
        padding:0 var(--padding-x);

        &:nth-of-type(2) {
            flex-direction:column-reverse;
        }

        .image {
            display: flex;
            max-height: 310px;
            img {
                object-fit: contain;
                object-position: center;
            }
        }
        
        .image, .texte-wrap {
            margin-bottom:20px;
        }
        h3 {
            background-color:var(--rouge);
            color:var(--blanc);
			display: inline-block;
			margin-bottom:35px;
            padding: 2px 8px 2px;
            box-decoration-break: clone;
            line-height: 2;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                background-image: url('icons/fleche_simple.svg');
                background-position: left 5px;
                background-repeat: no-repeat;
                background-size:15px 9px;
                padding-left:25px;
                &::before {
                    display: none;
                }
            }
        }
    }
    @include bp(md) {
        background-image:url('icons/Motif-Particules-Desktop.svg');
        background-repeat: repeat;
        background-size: 250px 100%;
		background-position-y: 150px;
		margin-bottom: 65px;
        .zone {
            align-items: center;
            display: flex;
            flex-direction: row;
			justify-content: center;
			h3 {
				margin-bottom: 42px;
			}
            &:nth-of-type(2) {
				flex-direction:row-reverse;
				margin-top: 40px;
            }
            .image {
                max-height:unset;
                display: block ;
                img {
                    display: block;
                    margin:auto;
                }
            }
        
        }
        .image, .texte-wrap {
            flex-basis:50%;
            margin:20px;
        }
    }
}