.acf-block-rdv {
	margin-bottom: 0;
	padding:0 0 70px;
	h2, .intro {
		padding:0 20px;
	}
	h2 {
		line-height: 36px;
		margin-bottom: 26px;
	}
	.intro {
		font-size: 16px;
		text-align: center;
	}
	.mots {
		bottom:-25px;
		color:transparent;
		font-size:50px;
		font-weight:900;
		left: calc(100% - 1px * var(--scroll-mots)); //variable actualisée au scroll en JS
		line-height:1.24;
		position:relative;
		text-transform:uppercase;
		-webkit-text-stroke: 1px var(--gris-decor);
		white-space: nowrap;
		z-index: 1;
	}
	.rdvs {
		display: flex;
		flex-wrap: nowrap;
		overflow-x:auto;
		padding-bottom:70px;
		padding-right: 33px;
		position: relative;
	}
	.rdv {
		background-color:var(--bleu);
		color:var(--blanc);
		display: flex;
		flex-direction: column;
		margin-right:33px;
		padding:45px 30px;
		flex-basis:calc(286px + 33px);
		flex-shrink:0;
	}
	h3 {
		font-size: 18px;
		text-align: center;
		line-height: 30px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.image {
		display: block;
		height:105px;
		margin: 0 auto 20px;
		width:105px;
	}
	.texte {
		margin-bottom:20px;
	}
	.cta-resultat {
		align-self: flex-end;
		margin-bottom: 0;
		margin-top: auto;
	}

	.decor {
		background-image: url('icons/Motif-Silhouette-Mobile.svg');
		background-repeat: repeat;
		background-size: 53px 36px;
		height: 359px;
		left: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	@include bp(md) {
		padding:0 var(--padding-x) 70px;
		h2 {
			line-height: 64px;
			margin-bottom: 35px;
		}
		.intro {
			font-size: 20px;
			line-height: 30px;
			max-width:830px;
			margin:0 auto;
		}
		.mots {
			bottom:-20px;
			font-size: 85px;
			line-height: 62px;
			-webkit-text-stroke: 2px var(--gris-decor);
		}
		.rdvs {
			justify-content: center;
			padding-right:unset;
			overflow-x: unset;
		}
		.rdv {
			flex-basis:calc(375px + 90px);
			flex-grow:0;
			flex-shrink: 1;
			margin:0 45px;
		}
		h3 {
			font-size: 20px;
		}
		.image {
			margin-bottom: 40px;
		}
		.texte {
			line-height: 28px;
		}
		.decor {
			background-image: url('icons/Motif-Silhouette-Desktop.svg');
			background-size: 68px 46px;
			height: 463px;
		}
	}
}