.acf-block-deroule-seance {
	margin-bottom: 100px;
	.picto-chrono {
		margin:0 auto -25px;
		position: relative;
		width:133px;
		z-index: 1;
	}
	.etapes {
		margin:0 auto;
		padding-left:5px;
		position: relative;
		width:335px;
	}
	.pointilles {
		border-right: dashed 1px #A29C90;
		height: calc(100% - 85px);
		left: 5px;
		position: absolute;
		top: 85px;
		width: 1px;
	}
	.etape {
		align-items:flex-start;
		display:flex;
		height:231px;
		padding: 0;
		position: relative;
		&::before {
			background-color: var(--blanc);
			border: solid 2px #A29C90;
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: 7px;
			width: 7px;
			position: absolute;
			left: -3px;
			top: 85px;
		}
		&:nth-of-type(2n) {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}
		
		.titre {
			font-size: 18px;
			line-height: 24px;
			position: relative;
			span {
				color:var(--rouge);
			}
		}
		
	}
	.texte {
		flex-basis:200px;
		flex-grow:0;
		flex-shrink:1;
		padding-left:35px;
		padding-top:107px;
		position: relative;
		
	}
	.chiffre {
		color: #AAA89E;
		font-size: 80px;
		line-height: 65px;
		left: 37px;
		font-weight: 700;
		opacity: 0.25;
		position: absolute;
		top: 65px;
	}
	.picto {
		opacity: 0.5;
	}
	.picto.desktop {
		display: none;
	}
	.picto.mobile {
		flex-basis:130px;
		flex-grow:0;
		flex-shrink:1;
		height:231px;
		width:130px;
	}

	@include bp(md) {
		.etapes {
			padding-left:0;
			width:unset;
			max-width:calc(528px * 2);
		}
		.pointilles {
			left:50%;
			top:0;
			height:100%;
		}
		.texte, .picto {
			flex-basis:528px;
			flex-grow:0;
			flex-shrink:1;
		}
		.picto-chrono {
			margin-bottom:0;
		}
		.picto.mobile {
			display: none;
		}
		.picto.desktop {
			display: flex;
			img {
				height:320px;
				width:278px;
			}
		}
		.chiffre {
			font-size: 130px;
			top:95px;
		}
		.texte {
			padding-top:150px;
		}
		.etape {
			height:320px;
			margin-bottom: -40px;
			.titre {
				font-size: 26px;
				line-height: 34px;
				max-width:350px;
			}
			
			&:nth-of-type(2n+1) {
				.texte {
					padding-left:0;
					padding-right:35px;
				}
				.titre {
					margin-left:auto;
					text-align: right;
				}
				.chiffre {
					left:unset;
					right:35px;
				}
			}
			&:nth-of-type(2n) {
				justify-content: flex-start;
				.picto {
					justify-content: flex-end;
				}
				.chiffre {
					left:35px;
				}
			}
			&::before {
				left:calc(50% - 3px);
				top:165px;
			}
		}
	}
}