.acf-block-questionnaire {
	--fond-questionnaire:var(--rouge);

	align-items: center;
	display:flex;
	flex-direction:column;
	position: relative;
	.texte {
		max-width:462px;
		position: relative;
		top:-50px;
	}
	.titre {
		background-color:var(--gris-fond-clair);
		font-size:24px;
		line-height: 1.04;
		margin-bottom: 0;
		padding: 31px 55px 25px 34px;
	}
	.ouvrir {
		background-color:var(--rouge);
		padding:19px 28px;
		.fleche-simple {
			color:var(--blanc);
			font-family:var(--font-serif);
			font-size:1.125rem;
			background-image:url('icons/Fleche-Cta.svg');
			background-repeat: no-repeat;
			background-position:center right;
			background-size:contain;
			display: block;
			height:28px;
			line-height: 28px;
			margin:0;
			padding-right: 36px;
			text-align: right;
			text-decoration: none;
		}
	}
	
	.questionnaire {
		background-color:var(--fond-questionnaire);
		color:var(--blanc);
		padding:34px 38px;
	}

	.caldera-grid .has-error .checkbox, .caldera-grid .has-error .checkbox-inline, .caldera-grid .has-error .control-label, .caldera-grid .has-error .help-block, .caldera-grid .has-error .radio, .caldera-grid .has-error .radio-inline, .caldera-grid .has-error.checkbox label, .caldera-grid .has-error.checkbox-inline label, .caldera-grid .has-error.radio label, .caldera-grid .has-error.radio-inline label {
		color: #fff;
	}

	.fermer {
		align-items: center;
		background-color:var(--blanc);
		border:0;
		display: flex;
		height:80px;
		justify-content:center;
		left:-15px;
		padding:0;
		position: absolute;
		top:15px;
		width:40px;
		svg {
			max-width:50%;
		}
	}

	.intro {
		margin-bottom:25px;
		padding-bottom:25px;
		position: relative;
		&::after {
			background-color:var(--blanc);
			border-radius:2px;
			bottom:0;
			content:' ';
			height:3px;
			left:0;
			position:absolute;
			width:40px;

		}
	}
	
	.form-group {
		margin-bottom: 0 !important;
		&.question {
			min-height:159px;
		}
	}
	label.control-label {
		font-size:24px;
		font-weight:bold;
		line-height:1;
		margin-bottom:24px;
	}
	.field_required, input[type="radio"] {
		display:none;
	}
	label.radio-inline {
		border:solid 1.4px var(--blanc);
		font-size:11px;
		font-weight:bold;
		margin:0 24px 17px 0 !important;
		padding:3px 11px;
		text-transform: uppercase;

		&.checked {
			background-color:var(--blanc);
			border-color:var(--rouge);
			color:var(--rouge);
		}
	}

	input[type="submit"], input[type="button"] {
		background-color:transparent;
		background-image:url('icons/Fleche-Cta-Inverse.svg');
		background-repeat: no-repeat;
		background-position:center right;
		background-size:contain;
		border:none;
		font-size:14px;
		float: right;
		margin:0;
		padding:4px 0 6px;
		padding: 9px 56px 11px 0;
		text-transform: unset;

		&:focus, &:hover, &:active {
			color:var(--blanc);
			margin-right:-4px;
			padding-right:60px;

		}
	
	}

	.chiffre {
		color:rgba(255,255,255,0.2);
		font-size:64px;
		line-height:1;
		position:absolute;
		left:0;
		bottom:-60px;
		-webkit-text-stroke: 1px var(--blanc);
	}


	/*Affichage dans un volet escamotable en mobile*/
	.questionnaire {
		display: none;
		height:auto;
		position:relative;
		top:0;
		width:90vw;
		z-index:6;
	}
	
	/*Affichage grille en tablette et desktop*/
	@include bp(md) {
		margin-bottom:var(--margin-bottom);

		.questionnaire {
			display: block;
			height:unset;
			top:unset;
			width:unset;
			z-index:unset;

		}
		.fermer {display: none;}

		.chiffre {
			bottom:-90px;
			font-size:130px;
			line-height:1;
			-webkit-text-stroke: 2px var(--blanc);
		}
		display:grid;
		grid-template-columns: 1fr 200px 262px;
		grid-template-rows:75px minmax(545px,auto) 75px;

		.image {
			display:flex;
			grid-column: 1 / span 2;
			grid-row: 1 / span 3;
			height:100%;
			img {
				object-fit: cover;
			}
		}
		.titre {
			font-size:36px;
		}
		.texte {
			display:flex;
			flex-direction: column;
			grid-column: 2 / span 2;
			grid-row: 2 / span 1;
			height:100%;
			top:unset;
		}
		.questionnaire {
			flex-grow: 1;
		}
	}

	/*Affichage des résultats*/
	.intro-resultat, .conclusion-resultat, .cta-resultat, .animation {
		display: none;
	}
	&.resultat {
		--fond-questionnaire:var(--bleu);
		--accent:var(--air);
		&.eau {
			--accent:var(--eau);
		}
		&.feu {
			--accent:var(--feu);
		}
		&.terre {
			--accent:var(--terre);
		}

		.intro-resultat, .conclusion-resultat, .cta-resultat {
			display: block;
		}

		.intro-resultat, .conclusion-resultat, .cta-resultat, .caldera-grid {
			position: relative; //pour être affichés au-dessus de l'animation
		}
		
		.intro, .titre {
			display:none;
		}

		.animation {
			height:auto;
			position: absolute;
			left:0;
			top:80px;
			width:100%;
		}

		.intro-resultat {
			margin-bottom:100px;
			position: relative;
		}
		@include bp(md) {
			.animation {
				top:0;
			}
			.intro-resultat {
				margin-bottom: 140px;
			}
		}

		.titre-resultat {
			color:#9B9BAC;
			font-family: var(--font-serif);
			font-size:28px;
			line-height:46px;
			padding-left:40px;
			position: relative;

			&::before {
				background-color:var(--accent);
				border-radius:2px;
				top:22px;
				content:' ';
				height:2px;
				left:-38px;
				position:absolute;
				width:60px;
			}

		}

		.element {
			color:var(--blanc);
			font-size:40px;
			font-weight:700;
			line-height:64px;
			text-align: center;
			text-transform: uppercase;
		}

		.caldera-grid {
			.alert.alert-success { //message personnalisé selon résultat
				background-color:transparent;
				color:var(--blanc);
				font-size:1rem;
				margin-bottom:1rem;
				padding:0;
				text-shadow:none;
			}
		}
		
		.conclusion-resultat {
			color:var(--accent);
			font-size:14px;
			margin-bottom:2rem;
		}
		a.cta-resultat {
			align-items:center;
			color:var(--blanc);
			display: flex;
			height:41px;
			justify-content:flex-end;
			text-align: right;
			text-decoration: none;
			margin:0;
			span {
				font-size:14px;
				padding-right:15px;
			}

			svg {
				max-width:41px;
				transform: left var(--transition);
				.fleche {
					fill:var(--fond-questionnaire);
				}
				.cercle {
					fill:var(--accent);
				}
			}

			&:focus, &:hover, &:active {
				text-decoration: none;
				svg {
					left:3px;
					position: relative;
				}

			}
		}
	}

}