.acf-block-questionnaire {
	--fond-questionnaire:var(--rouge);

	&.eau {
		--fond-questionnaire:var(--bleu);
	}
	&.feu {
		--fond-questionnaire:orange;
	}


	align-items: center;
	display:flex;
	flex-direction:column;
	margin-bottom:var(--margin-bottom);
	position: relative;
	.texte {
		max-width:462px;
		position: relative;
		top:-50px;
	}
	.titre {
		background-color:var(--gris-fond-clair);
		font-size:36px;
		line-height: 1.04;
		margin-bottom: 0;
		padding: 31px 55px 25px 34px;
	}
	.questionnaire {
		background-color:var(--fond-questionnaire);
		color:var(--blanc);
		padding:34px 38px;
		position: relative;
	}

	.intro {
		margin-bottom:25px;
		padding-bottom:25px;
		position: relative;
		&::after {
			background-color:var(--blanc);
			border-radius:2px;
			bottom:0;
			content:' ';
			height:3px;
			left:0;
			position:absolute;
			width:40px;

		}
	}
	&.resultat {
		.intro {
			display:none;
		}
	}
	.form-group {
		margin-bottom: 0 !important;
		&.question {
			min-height:159px;
		}
	}
	label.control-label {
		font-size:24px;
		font-weight:bold;
		line-height:1;
		margin-bottom:24px;
	}
	.field_required, input[type="radio"] {
		display:none;
	}
	label.radio-inline {
		border:solid 1.4px var(--blanc);
		font-size:11px;
		font-weight:bold;
		margin:0 24px 17px 0 !important;
		padding:3px 11px;
		text-transform: uppercase;

		&.checked {
			background-color:var(--blanc);
			border-color:var(--rouge);
			color:var(--rouge);
		}
	}

	input[type="submit"], input[type="button"] {
		background-color:transparent;
		background-image:url('icons/fleche_avec_fond.jpg');
		background-repeat: no-repeat;
		background-position:center right;
		background-size:contain;
		border:none;
		font-size:14px;
		float: right;
		margin:0;
		padding:4px 0 6px;
		padding: 9px 56px 11px 0;
		text-transform: unset;

		&:focus, &:hover, &:active {
			color:var(--blanc);
			margin-right:-4px;
			padding-right:60px;

		}
	
	}

	.chiffre {
		color:rgba(255,255,255,0.2);
		font-size:80px;
		line-height:1;
		position:absolute;
		left:0;
		bottom:-80px;
		-webkit-text-stroke: 1px var(--blanc);
	}

	.caldera-grid {
		.alert.alert-success {
			background-color:transparent;
			color:var(--blanc);
			text-shadow:none;
		}
	}

	@include bp(md) {
		.chiffre {
			bottom:-90px;
			font-size:130px;
			line-height:1;
			-webkit-text-stroke: 2px var(--blanc);
		}
		display:grid;
		grid-template-columns: 1fr 200px 262px;
		grid-template-rows:75px 545px 75px;

		.image {
			display:flex;
			grid-column: 1 / span 2;
			grid-row: 1 / span 3;
			height:100%;
			img {
				object-fit: cover;
			}
		}
		.texte {
			display:flex;
			flex-direction: column;
			grid-column: 2 / span 2;
			grid-row: 2 / span 1;
			height:100%;
			top:unset;
		}
		.questionnaire {
			flex-grow: 1;
		}
	}

}