.acf-block-etat-esprit {

	/*****************Part 1*******************************/
	position:relative;
	.intro {
		font-size:1rem;
		line-height:1.5;
		text-align:center;
	}

	.mots {
		bottom:-20px;
		color:transparent;
		font-size:50px;
		font-weight:900;
		left: calc(100% - 650px * var(--scroll-mots)); //variable actualisée au scroll en JS
		//650px : largeur maxi du texte à faire défiler en mobile
		line-height:1.24;
		position:relative;
		text-transform:uppercase;
		-webkit-text-stroke: 1px var(--gris-decor);
		white-space: nowrap;
		z-index:2;
	}

	.silhouette {
		display: none;
	}

	@include bp(md) {
		.part1 {
			position:relative
		}
		.silhouette {
			display: flex;
			height:100%;
			left:-12%;
			position:absolute;
			top:0;
			width:22%;
			img {
				width:100%
			}
		}
		
		.intro {
			font-size:1.25rem;
			max-width:957px;
			margin:0 auto 30px;
		}

		.mots {
			bottom:unset;
			font-size:85px;
			left: calc(100% - 1160px * var(--scroll-mots)); //variable actualisée au scroll en JS
			//1160px : largeur maxi du texte à faire défiler en desktop
			line-height:1;
			margin-bottom:40px;
		}
		
	}

	/*****************Part 2*******************************/
	.image {
		margin-bottom:28px;
		img {
			width:100%;
		}
	}
	.texte {
		padding-bottom:73px;
	}
	@include bp(md) {
		.part2 {
			display: flex;
		}
		.image {
			flex-grow:1;
			margin-bottom:0;
		}
		.texte {
			flex-basis:480px;
			flex-shrink:0;
			padding-left:30px;
			padding-bottom:100px;
		}
		.eclairage {
			margin-top:0;
		}
	}
	@include bp(lg) {
		.texte {
			flex-grow:1;
			padding-left:60px;
		}
	}
	@include bp(xl) {
		.image {
			display: flex;
			img {
				object-fit: cover;
				width:100%;
			}
		}
		.texte {
			padding-bottom:80px;
		}
	}
}