.acf-block-facteurs {
	/*styles en écart du bloc état d'esprit - classe accueil commune*/
	.texte {
		padding-bottom: 20px;
		strong {
			background-color: var(--rouge);
			box-decoration-break: clone;
			color: var(--blanc);
			padding: 2px 5px;
		}
	}
	.relief {
		font-family: var(--font);
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		strong {
			color:var(--rouge);
			font-weight: 700;
		}
	}
	.definition {
		background-image: url('icons/Silhouette.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90px;
		font-size: 18px;
		padding:50px 0;
		text-align: center;
		strong {
			color:var(--rouge);
		}
	}
	@include bp(md) {
		.texte {
			padding-top:40px;
		}
		.relief {
			font-style: 26px;
			line-height: 58px;
		}
		.definition {
			background-size: 155px 220px;
			padding:200px 0 150px;
			font-size: 22px;
			line-height: 36px;
		}
	}
}