.acf-block-reservation-sessions {

	.intro,
	.titre,
	.navigation {
		padding: 0 var(--padding-x);
	}

	.intro {
		font-size: 16px;
		line-height: 22px;
		text-align: center;
	}

	> a.cta-resultat {
		color: var(--bleu);
		justify-content: center;
		margin-bottom: 35px;

		span {
			color: var(--bleu);
		}

		svg {
			.fleche {
				fill: var(--blanc);

			}

			.cercle {
				fill: var(--rouge);
			}
		}
	}

	.contenu {
		position: relative;
	}

	.decor {
		background-image: url('icons/Motif-Silhouette-Mobile.svg');
		background-repeat: repeat;
		background-size: 53px 36px;
		height: 325px;
		left: 0;
		position: absolute;
		top: 365px;
		width: 100%;
	}

	.navigation {
		margin-bottom: 40px;
		> button {
			&.type-1 {
				--accent: var(--rouge);
			}

			&.type-2 {
				--accent: var(--bleu);
			}

			&.type-3 {
				--accent: #989895;
			}

			&.type-4 {
				--accent: #AAA89E;
			}

			background-color: var(--accent);
			border: none;
			display: block;
			line-height: 22px;
			padding:20px 90px 12px 15px;
			position: relative;
			margin-bottom: 0;
			text-align: left;
			text-transform: unset;
			width: 100%;

			&.actif,
			&:hover,
			&:focus {
				color:var(--blanc);
				outline:none;
				&::after {
					background-color: var(--blanc);
					border-radius: 2px;
					content: ' ';
					height: 3px;
					position: absolute;
					right: 23px;
					top: 27px;
					width: 40px;
				}
			}
		}
		.fleches {
			display: none;
		}
	}

	.sessions-wrapper {
		padding-left: 20px;
		overflow-x: auto;
	}

	.sessions {
		display: flex;
		flex-wrap: no-wrap;
		list-style: none;
		margin-top:0;
		margin-bottom: 30px;
		padding-left: 0;
		padding-bottom:30px;

		left: 0;
		position: relative;
		transition: left var(--transition);

	}

	.session {
		&.type-1 {
			--accent: var(--rouge);
		}

		&.type-2 {
			--accent: var(--bleu);
		}

		&.type-3 {
			--accent: #989895;
		}

		&.type-4 {
			--accent: #AAA89E;
		}

		align-items: center;
		background-color: var(--accent);
		color:var(--blanc);
		display: flex;
		flex-basis: 250px;
		flex-direction: column;
		flex-shrink: 0;
		font-weight: 600;
		padding:35px 15px 23px;
		margin-right: 33px;
		min-height: 270px;
		position: relative;

		a.cta-resultat {
			margin-bottom: 0;
			margin-top:auto;
		}
	}

	h3 {
		color:var(--blanc);
		font-size: 20px;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: 1px;
		margin-bottom:auto;
		padding-bottom:20px;
		position: relative;
		text-align: center;
		text-transform: uppercase;

		&::after {
			background-color:var(--blanc);
			border-radius:2px;
			bottom:0;
			content:' ';
			height:3px;
			left:calc(50% - 20px);
			position:absolute;
			width:40px;

		}
	}
	.prix {
		font-size: 40px;
		font-weight: 700;
		line-height: 24px;
		span {
			font-size: 18px
		}
	}

	.prix-dessus, .prix-dessous, .info {
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		text-align: center;
	}
	.info {margin-top:auto}

	.eclairage {
		background-image: none;
		.relief {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
		}
	}

	@include bp(md) {
		.intro {
			font-size: 20px;
			line-height: 30px;
			max-width: 840px;
			margin:0 auto 20px;
			padding:0;
		}
		.decor {
			background-image: url('icons/Motif-Silhouette-Desktop.svg');
			background-size: 68px 46px;
			height: 463px;
			top:325px;
		}
		.navigation {
			align-items: flex-start;
			display: flex;
			margin-bottom:34px;
			> button {
				line-height: 24px;
				padding:7px 7px 0;
				margin-bottom: 30px;
				margin-right:11px;
				text-align: center;
				width:unset;
				&.actif,
				&:hover,
				&:focus {
					&::after {
						background-color: var(--accent);
						top:unset;
						bottom:-29px;
						right:calc(50% - 20px);
					}
				}
			}
			.fleches {
				display: flex;
				justify-content: flex-end;
				margin-left: auto;
				position: relative;
	
				button {
					padding: 0;
					width: 10px;
					background: none;
					border: none;
					margin: 0 25px;
				}
			}
		}
		
		.sessions-wrapper {
			overflow-x:unset;
			padding-left:var(--padding-x);

		}

		.sessions {
			padding-bottom: 0;
			margin-bottom: 160px;
		}

		.session {
			flex-basis:375px;
			margin-right: 70px;
			min-height:364px;
			padding:75px 30px 30px;

			h3 {
				padding-bottom:30px;
			}
		}

		.prix {
			font-size: 48px;
			line-height: 34px;
			span {
				font-size: 22px;
			}
		}

		.prix-dessus, .prix-dessous, .info {
			font-size: 18px;
			line-height: 34px;
		}

		.eclairage {
			.relief {
				font-size: 20px;
				line-height: 32px;
				max-width: 927px;
				padding-right: 50px;
				top:0;
			}
		}
	}
	
}