.acf-block-newsletter {
	background-image : url('icons/Motif-Silhouette-Mobile.svg');
	background-size: 53px 36px;
	margin-bottom:0;
	padding-top:108px;

	.newsletter {
		background-color : var(--rouge);
		color:var(--blanc);
		padding:25px;
	}

	.titre {
		color:var(--blanc);
		font-size:26px;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.intro {
		display: none;
	}

	input[type="email"] {
		background-color:transparent;
		border:solid 1px var(--blanc);
		color:var(--blanc);
		padding-left:15px;
		width:100%;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color:var(--blanc);
			opacity:1;
		  }
		&::-moz-placeholder { /* Firefox 19+ */
			color:var(--blanc);
			opacity:1;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color:var(--blanc);
			opacity:1;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color:var(--blanc);
			opacity:1;
		}
	}

	input[type="submit"] {
		display: block;
		text-align: right;
		text-transform: none;
		font-weight:500;
		background-image:url('icons/Fleche-Cta-Inverse.svg');
		background-repeat: no-repeat;
		background-position:center right;
		background-size:contain;
		float:right;
		height:46px;
		line-height: 46px;
		margin:0;
		margin-top:5px;
		padding:0;
		padding-right: 56px;
		transition: all var(--transition);
		&:hover, &:focus, &:active {
			background-color:transparent;
			border-color:transparent;
			color:var(--blanc);
			margin-right:-4px;
			padding-right:60px;
		}
	}

	.terms {
		clear: both;
		display:block;
		font-size: 14px;
		padding-top: 20px;
		input {
			margin-right:10px;
		}
	}

	form#sib_signup_form_1 p.sib-alert-message-success, form#sib_signup_form_1 p.sib-alert-message-warning {
		background-color:transparent;
		border-color:transparent;
		color:var(--blanc);

	}

	@include bp(md) {
		background-image : url('icons/Motif-Silhouette-Desktop.svg');
		background-size: 68px 46px;
		padding:0;
		margin-top:150px;
		.newsletter {
			margin:0 auto;
			max-width:658px;
			padding:45px 40px 30px;
			position: relative;
			top:-100px;
		}
		.titre {
			font-size:36px;
			margin-bottom: 1rem;
		}

		.intro {
			display: block;
		}

		input[type="email"] {
			background-color:transparent;
			border:solid 1px var(--blanc);
			color:var(--blanc);
			width:calc(100% - 175px);
		}

		input[type="submit"] {
			display: inline-block;
			float:none;
			margin-left: 20px;
		}

		.terms {
			padding-top: 40px;
		}
	}
}