.accueil { /*Bloc état d'esprit mais classe accueil pour réutiliser les styles*/

	/*****************Part 1*******************************/
	position:relative;
	.intro {
		font-size:1rem;
		line-height:1.5;
		text-align:center;
	}

	.mots {
		bottom:12px;
		color:transparent;
		font-size:50px;
		font-weight:900;
		left: calc(100% - 1px * var(--scroll-mots)); //variable actualisée au scroll en JS
		line-height:1.24;
		position:relative;
		text-transform:uppercase;
		-webkit-text-stroke: 1px var(--gris-decor);
		white-space: nowrap;
		z-index:2;
	}

	.silhouette {
		display: none;
	}

	@include bp(md) {
		.part1 {
			position:relative
		}
		.silhouette {
			display: flex;
			height:100%;
			left:-12%;
			position:absolute;
			top:0;
			width:22%;
			img {
				object-fit: cover;
				width:100%
			}
		}
		
		.intro {
			font-size:1.25rem;
			max-width:957px;
			margin:0 auto;
			padding-bottom:0;
		}

		.mots {
			bottom:unset;
			font-size:85px;
			left: calc(100% - 1px * var(--scroll-mots)); //variable actualisée au scroll en JS
			line-height:1;
			margin-bottom:40px;
			-webkit-text-stroke: 2px var(--gris-decor);
		}
		
	}

	/*****************Part 2*******************************/
	.image {
		margin-bottom:28px;
		img {
			width:100%;
		}
	}
	.texte {
		padding-bottom:73px;
	}
	@include bp(md) {
		.part2 {
			display: flex;
		}
		.image {
			flex-grow:1;
			margin-bottom:0;
		}
		.texte {
			flex-basis:480px;
			flex-shrink:0;
			padding-left:30px;
			padding-bottom:100px;
		}
		.eclairage {
			margin-top:0;
		}
	}
	@include bp(lg) {
		.texte {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow:1;
			padding-left:60px;
			> * {
				max-width: 550px;
			}
			a.fleche {
				align-self:flex-end;
				margin-top:2rem;
			}
		}
	}
	@include bp(xl) {
		.image {
			display: flex;
			img {
				object-fit: cover;
				width:100%;
			}
		}
		.texte {
			padding-bottom:80px;
		}
	}

	/*****************Part 3*******************************/
	.part3 {
		background-image:url('icons/30min.svg');
		background-repeat: no-repeat;
		background-size: 70% auto;
		background-position: center 30px;
		font-size:1rem;
		padding:90px 5px 70px;
		text-align: center;

		@include bp(sm) {
			background-position-y: 80px;
			background-size: 400px auto;
			min-height:400px;
			padding-bottom: 0;
			padding-top: 140px;
			.texte-duree {
				max-width:850px;
				margin:auto;
				p {
					font-size:20px;
					margin-bottom:0;
				}
			}
		
		}
	}

	

}